<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>シフトカレンダー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <h1>シフトカレンダー</h1>

    <div id="calendar-header">
        <button id="prev-month">前月</button>
        <h2 id="calendar-title"></h2>
        <button id="next-month">次月</button>
    </div>
    <div id="search-container">
        <select id="user-search" title="ユーザーを選択してください">
            <option value="">全ユーザーを表示</option>
        </select>
    </div>
    <div id="calendar-container"></div>

<!-- 日付詳細を表示するコンテナ -->
    <div id="details-container">
        <h2>シフト詳細</h2>
        <div id="details-content">
            <p>日付を選択してください。</p>
        </div>
    </div>


    <script src="{{ url_for('static', filename='viewer.js') }}"></script>
</body>
</html>
